@model Cinema.Entities.Movie

@{
    ViewData["Title"] = "Edit Movie";
}

<h1>Edit Movie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            @await Html.PartialAsync("_MovieForm")
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}